name: Build and Test

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - "scripts/**"


concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # -------------------------------------------------------------------
  # JOB 1: LINUX (GCC / CLANG en Fedora Container)
  # -------------------------------------------------------------------
  linux-builds:
    name: Linux - ${{ matrix.compiler }}
    runs-on: self-hosted
    container:
      image: fedora:latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc
            configure: Ninja-linux-gcc
            debug: Debug-linux-gcc
            release: Release-linux-gcc
            
          - compiler: clang
            configure: Ninja-linux-clang
            debug: Debug-linux-clang
            release: Release-linux-clang
            sanitize: Sanitize-linux-clang

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Parallel Jobs
        run: |
          CORES=$(nproc)
          JOBS=$((CORES - 2))
          if [ "$JOBS" -lt 1 ]; then JOBS=1; fi
          echo "CMAKE_BUILD_PARALLEL_LEVEL=$JOBS" >> $GITHUB_ENV
          echo "PARALLEL_JOBS=$JOBS" >> $GITHUB_ENV

      - name: Install System Dependencies
        run: |
          dnf -y update
          dnf -y install git xorg-x11-server-Xvfb
          git clone https://github.com/ch0pex/dotfiles
          cd dotfiles
          ./setup.sh install_packages
          ./setup.sh install_languages
          ./setup.sh install_conan
          cd ..
          rm -rf dotfiles
          echo "$HOME/.local/bin" >> $GITHUB_PATH


      - name: Configure Conan Remote
        run: |
          conan profile detect --force
          conan remote remove '*'
          conan remote add monostudio-conan-local ${{ secrets.CONAN_URL }} --force
          conan remote login -p "${{ secrets.CONAN_TOKEN }}" monostudio-conan-local runner

      - name: Configure CMake
        run: cmake --preset ${{ matrix.configure }}

      - name: Build & Test (Debug)
        run: |
          cmake --build --preset ${{ matrix.debug }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.debug }}

      - name: Build & Test (Release)
        run: |
          cmake --build --preset ${{ matrix.release }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.release }}

      - name: Build & Test (Sanitize)
        if: matrix.sanitize != ''
        run: |
          cmake --build --preset ${{ matrix.sanitize }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.sanitize }}

      - name: Valgrind
        run: valgrind --leak-check=full xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.debug }}

  # -------------------------------------------------------------------
  # JOB 2: WINDOWS (MSVC Nativo)
  # -------------------------------------------------------------------
  windows-builds:
    name: Windows - ${{ matrix.toolchain }}
    runs-on: windows-latest
    
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolchain: MSVC
            configure: Ninja-windows-cl
            debug: Debug-windows-cl
            relwithdebinfo: RelWithDebInfo-windows-cl
            release: Release-windows-cl

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Conan
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install Conan Package
        shell: bash
        run: pip install conan

      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure Conan Remote
        shell: bash
        run: |
          conan profile detect --force
          conan remote remove '*'
          conan remote add monostudio-conan-local ${{ secrets.CONAN_URL }} --force
          conan remote login -p "${{ secrets.CONAN_TOKEN }}" monostudio-conan-local runner

      - name: Configure CMake
        shell: bash
        run: cmake --preset ${{ matrix.configure }}


      - name: Build (Debug & Release)
        shell: bash
        run: |
          cmake --build --preset ${{ matrix.debug }}
          cmake --build --preset ${{ matrix.release }}

      - name: Install Mesa3D (Windows OpenGL Software Rasterizer)
        shell: powershell
        run: |
          curl.exe -L --output mesa.7z https://github.com/pal1000/mesa-dist-win/releases/download/23.1.9/mesa3d-23.1.9-release-msvc.7z
          7z x mesa.7z -omesa -y
          
          $BuildDir = "build/windows/cl/bin" 
          
          if (Test-Path "$BuildDir/Release") {
             Copy-Item "mesa/x64/opengl32.dll" -Destination "$BuildDir/Release/opengl32.dll"
             Copy-Item "mesa/x64/libglapi.dll" -Destination "$BuildDir/Release/libglapi.dll"
          }
          if (Test-Path "$BuildDir/Debug") {
             Copy-Item "mesa/x64/opengl32.dll" -Destination "$BuildDir/Debug/opengl32.dll"
             Copy-Item "mesa/x64/libglapi.dll" -Destination "$BuildDir/Debug/libglapi.dll"
          }

      - name: Test (Debug & Release)
        shell: bash
        run: |
          ctest --preset ${{ matrix.debug }}
          ctest --preset ${{ matrix.release }}
