name: Build and Test

on:
  push:
    branches:
      - '**'
    paths-ignore:
      # --- Documentación y Archivos de Texto ---
      - '**.md'          # Ignora README.md, docs/*.md, etc.
      - '**.txt'         # Ignora CMakeLists.txt NO (ese no acaba en .txt suele ser .txt pero CMakeLists es especial) -> OJO: CMakeLists.txt es detectado, los .txt planos no.
      - 'LICENSE'
      
      # --- Configuración de git/editor ---
      - '.gitignore'
      - '.gitattributes'
      - '.vscode/**'
      
      # --- Scripts auxiliares que no afectan al binario ---
      - "scripts/**"


concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # -------------------------------------------------------------------
  # JOB 1: LINUX (GCC / CLANG Fedora)
  # -------------------------------------------------------------------
  linux-builds:
    name: Linux - ${{ matrix.compiler }}
    runs-on: self-hosted
    container:
      image: fedora:latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc
            configure: Ninja-linux-gcc
            debug: Debug-linux-gcc
            release: Release-linux-gcc
            
          - compiler: clang
            configure: Ninja-linux-clang
            debug: Debug-linux-clang
            release: Release-linux-clang
            sanitize: Sanitize-linux-clang

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Parallel Jobs
        run: |
          CORES=$(nproc)
          JOBS=$((CORES - 2))
          if [ "$JOBS" -lt 1 ]; then JOBS=1; fi
          echo "CMAKE_BUILD_PARALLEL_LEVEL=$JOBS" >> $GITHUB_ENV
          echo "PARALLEL_JOBS=$JOBS" >> $GITHUB_ENV

      - name: Install System Dependencies
        run: |
          dnf -y update
          dnf -y install git xorg-x11-server-Xvfb xkeyboard-config-devel
          git clone https://github.com/ch0pex/dotfiles
          cd dotfiles
          ./setup.sh install_packages
          ./setup.sh install_languages
          ./setup.sh install_conan
          cd ..
          rm -rf dotfiles
          echo "$HOME/.local/bin" >> $GITHUB_PATH


      - name: Configure Conan Remote
        run: |
          conan profile detect --force
          conan remote remove '*'
          conan remote add monostudio-conan-local ${{ secrets.CONAN_URL }} --force
          conan remote login -p "${{ secrets.CONAN_TOKEN }}" monostudio-conan-local runner

      - name: Configure CMake
        run: cmake --preset ${{ matrix.configure }}

      - name: Build & Test (Debug)
        run: |
          cmake --build --preset ${{ matrix.debug }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.debug }} -LE "graphics"

      - name: Build & Test (Release)
        run: |
          cmake --build --preset ${{ matrix.release }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.release }} -LE "graphics"

      - name: Build & Test (Sanitize)
        if: matrix.sanitize != ''
        run: |
          cmake --build --preset ${{ matrix.sanitize }}
          xvfb-run -a --server-args="-screen 0 1280x1024x24" ctest --preset ${{ matrix.sanitize }} -LE "graphics"

      - name: Valgrind Memcheck
        run: |
          xvfb-run -a --server-args="-screen 0 1280x1024x24" \
          ctest --test-dir build/linux/${{ matrix.compiler }} \
                -T MemCheck \
                -C Debug \
                -LE "graphics" \
                --output-on-failure
          LOG_DIR="build/linux/${{ matrix.compiler }}/Testing/Temporary"
          echo "Checking for leaks in $LOG_DIR..."
          if grep -rn "Definitely lost" "$LOG_DIR"/MemoryChecker.*.log; then
            echo "::error::Critical memory leaks detected by Valgrind!"
            exit 1
          else
            echo "Valgrind check passed. No definite leaks found."
          fi
  # -------------------------------------------------------------------
  # JOB 2: WINDOWS (MSVC)
  # -------------------------------------------------------------------
  windows-builds:
    name: Windows - ${{ matrix.toolchain }}
    runs-on: windows-latest
    
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolchain: MSVC
            configure: Ninja-windows-cl
            debug: Debug-windows-cl
            relwithdebinfo: RelWithDebInfo-windows-cl
            release: Release-windows-cl

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Conan
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install Conan Package
        shell: bash
        run: pip install conan

      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure Conan Remote
        shell: bash
        run: |
          conan profile detect --force
          conan remote remove '*'
          conan remote add monostudio-conan-local ${{ secrets.CONAN_URL }} --force
          conan remote login -p "${{ secrets.CONAN_TOKEN }}" monostudio-conan-local runner

      - name: Configure CMake
        shell: bash
        run: cmake --preset ${{ matrix.configure }}

      - name: Build & Test (Debug)
        shell: bash
        run: |
          cmake --build --preset ${{ matrix.debug }}
          ctest --preset ${{ matrix.debug }} -LE "graphics|window"

      - name: Build & Test (Release)
        shell: bash
        run: |
          cmake --build --preset ${{ matrix.release }}
          ctest --preset ${{ matrix.release }} -LE "graphics|window" 
